TeX equation editor:
<div id="eqcontrols">
	<button type="button" class="equation">\(\times\)</button>
	<button type="button" class="equation">\(\div\)</button>
	<button type="button" class="equation">\(\pm\)</button>
	<button type="button" class="equation">\(\neq\)</button>
	<button type="button" class="equation">\(\leq\)</button>
	<button type="button" class="equation">\(\geq\)</button>
	<button type="button" class="equation">\(\infty\)</button>
	<button type="button" class="equation">\( a^{b}\)</button>
	<button type="button" class="equation">\( a_{b}\)</button>
	<button type="button" class="equation">\(\sqrt{a}\)</button>
	<button type="button" class="equation">\(\frac{a}{b}\)</button>
	<button type="button" class="equation">\(\int_{a}^{b}\)</button>
	<button type="button" class="equation">\(\sum_{a}^{b}\)</button>
</div>
<textarea class="focusable" id="eqinput"></textarea>
Preview:
<div id="eqpreview"></div>
<button type="button" class="insert">Insert</button>