<%= link_to "Back to all PDFs", pdfs_path, remote: true %>
<div id="pdfcontainer">
<% for document_page in @document_pages.each %>
  <div class="insertable pdf" data-address="<%= document_page.image.url(:large) %>" style="background-image: url('<%= document_page.image.url(:thumb) %>')">
    <button type="button" class="insert">Insert</button>
  </div>
<% end %>
</div>