html, body {overflow: hidden;}
#content {margin: 0;}

#note_body {display: none;}

#controls {width: 100%; height: 24pt; background: #ddd; font-size: 10pt;}
#controls button, #controls select, #controls a {display: inline-block; height: 100%; padding: 0 6pt 0 6pt; border: none; background: none; font-size: 10pt; color: #000; text-decoration: none;}
#controls a {height: auto; padding: 6pt;}
#controls button:hover, #controls select:hover, #controls a:hover {background: #ccc;}
#controls button:active {background: #bbb;}
#controls #right {display: inline-block; float: right; height: 100%;}
select#fontcolor option {color: #fff;}
select#fontcolor option:first-child {color: #000;}
button#bold {font-weight: bold;}
button#italic {font-style: italic;}
button#underline {text-decoration: underline;}
button#save {background: #53a07b; color: #fff;}
button#save:hover {background: #fff; color: #53a07b;}
button#save:active {background: #53a07b; color: #fff;}
#notice {padding: 6pt; float: right; color: #387a5a;}

#metercontainer {display: inline-block; vertical-align: top; height: 100%; margin: 0 6pt 0 0;}
#meter {display: inline-block; position: relative; width: 150pt; height: 100%; margin: 0 0 0 6pt; background: #bbb;}
#meter #filled {display: inline-block; height: 100%; transition: width 0.5s;}
#meter #text {position: absolute; left: 6pt; top: 6pt; color: #fff;}

.explanation {text-decoration: underline;}
.tooltip {position: absolute; width: 200pt; padding: 5pt; background: #eee; border: #ccc 1pt solid; font-size: 10pt; transition: opacity 0.5s;}

#notecontainer {width: 100%; padding: 15pt; overflow: auto;}
#note {width: 70%;}
#note_title {width: 100%; border: none; font-size: 22pt; font-weight: normal; margin: 0;}
#editor {width: 100%; min-height: 200pt;}

.resizable {display: inline-block; position: relative;}
#resizer {width: 0; height: 0; border: #bbb 10pt solid; border-left-color: transparent; border-top-color: transparent; cursor: nwse-resize;}

#insertmenu {position: fixed; width: 40%; display: none;}
#inserttabs button {padding: 6pt; border: none; background: #ccc;}
#inserttabs button:hover {background: #ddd; cursor: pointer;}
#inserttabs button.selected {background: #ddd;}
#insertpages {position: relative;}
.insertpage {position: absolute; left: 0; top: 0; display: none; width: 100%; overflow: auto; background: #ddd; padding: 6pt;}
.insertpage a, .insertpage button {margin-bottom: 10px;}

#uploadcontainer, #pdfcontainer {display: flex; flex-flow: row wrap; align-items: center;}
.upload, .pdf {width: 100px; height: 100px; margin: 0 6pt 6pt 0; background-position: center; background-repeat: no-repeat; display: flex; flex-flow: column nowrap; justify-content: center; align-items: stretch;}
.pdf {width: 130px; height: 130px;}
.upload button, .upload input, .pdf button, .pdf input {display: none; margin: 2pt 0 2pt 0; width: 100%;}
.upload:hover button, .upload:hover input, .pdf:hover button, .pdf:hover input {display: inline-block;}
input.confirm {background: #fc4c49; transition: background-color 0.5s;}
input.confirm:hover {background: #fc4c49;}

.loadingcover {position: absolute; left: 0; top: 0; width: 100%; height: 100%; opacity: 0.8; background: #ddd image-url("ajax-loader.gif") center no-repeat;}