html, body {overflow: hidden;}
#content {margin: 0;}

#note_body {display: none;}

#controls {width: 100%; background: #ddd; font-size: 10pt;}
#controls button, #controls select, #controls a {display: inline-block; padding: 6pt; border: none; background: none; font-size: 10pt; color: #000; text-decoration: none;}
#controls button:hover, #controls select:hover, #controls a:hover {background: #ccc;}
#controls button:active {background: #bbb;}
select#fontcolor option {color: #fff;}
select#fontcolor option:first-child {color: #000;}
button#bold {font-weight: bold;}
button#italic {font-style: italic;}
button#underline {text-decoration: underline;}
button#save {float: right; background: #53a07b; color: #fff;}
button#save:hover {background: #fff; color: #53a07b;}
button#save:active {background: #53a07b; color: #fff;}
#notice {padding: 6pt; float: right;}

#notecontainer {width: 100%; padding: 15pt; overflow: auto;}
#note {width: 50%;}
#note_title {width: 100%; border: none; font-size: 22pt; font-weight: normal; margin: 0;}
#editor {width: 100%; min-height: 200pt;}

.resizable {display: inline-block; position: relative;}
#resizer {width: 20pt; height: 20pt; background: #ccc; cursor: nwse-resize;}

#insertmenu {position: fixed; width: 40%; display: none;}
#inserttabs button {padding: 6pt; border: none; background: #ccc;}
#inserttabs button:hover {background: #ddd; cursor: pointer;}
#inserttabs button.selected {background: #ddd;}
#insertpages {position: relative;}
.insertpage {position: absolute; left: 0; top: 0; display: none; width: 100%; background: #ddd; padding: 6pt;}