<% if @user.uploads.empty? %>
  <b>No uploads yet!</b>
<% else %>
  <% for upload in @user.uploads.each %>
    <table>
      <tr><td><%= image_tag upload.file.url(:thumb) %></td></tr>
      <tr><td>x Delete</td></tr>
    </table>
  <% end %>
<% end %>