<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="content">
      <h3>Upload image</h3>

      <%= render 'uploads/form' %>
      <%= render 'uploads/display' %>
    </div>
  </body>
</html>
