<!-- Setting these variables here because this is used in so many places -->
<% @upload = Upload.new
   @uploads = current_user.uploads.order(created_at: :desc) %>

<h3>Upload image</h3>
<%= render 'uploads/form' %>
<%= render 'uploads/display' %>